mv-tablist {
  display: flex;
  gap: 6px;
}

mv-tablist[orientation="vertical"] {
  flex-direction: column;
}

mv-tab {
  padding: 3px 5px;
}

mv-tab:hover,
mv-tab:focus-visible {
  cursor: pointer;
  color: #0000f1;
}

mv-tab[selected] {
  color: #551aa9;
  border-bottom: 2px solid #551aa9;
}

mv-tabpanel {
  display: none;
}

mv-tabpanel:not([hidden]) {
  display: block;
}
